@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;


}